<div class="flex-dashboard">
    <div>
        <h1>{{firstName}} {{lastName}}</h1>
        <h1>{{email}}</h1>
        </br>
        <h2>Thank you for signing up! </h2>
        <h2>Registration Complete!</h2>
    </div>
</div>


